header{
    background-color: rgb(240, 191, 168);
    width: 1100x;
    height: 100px;
    font-size: 5rem;
    text-align: center;
    box-shadow:0 2px 15px red;
}
nav{
    display: inline-flex;
    float: right;    
    text-align: center;
} 
ul li{
     display: inline-flex; 
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    /* background-color: #ffbf00; */
  
} 
.dropdown-item{ 
    background-color: #dc3545;
    width: 100px;
    /* margin: 2rem; */
     text-align: center;
    list-style: none;
    border-radius: 2rem;
}  
 .img{
    display: flex;
} 
h2{
    font-size: 2rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-style: italic;
    font-size: 2rem;
}
h5{
    font-size: 2rem;
    font-style: italic;
}
